version: '3'
services:
  node:
    build: .
    restart: unless-stopped
    ports:
      - 3000
    environment:
      - NODE_ENV=production
      - VIRTUAL_HOST=shop.theminingking.com
      - LETSENCRYPT_HOST=shop.theminingking.com
      - LETSENCRYPT_EMAIL=daniel@capitolhill.ca
    volumes:
      - .:/home/node
      - /home/node/node_modules
    depends_on:
      - mongo
  mongo:  
    image: mongo
    restart: unless-stopped
    command: --smallfiles
    volumes:
      - crypto_cart_data:/data/db
volumes:
  crypto_cart_data:
networks:
  default:
    external:
      name: nginx-proxy
