<% if (wallets.length > 1) { %>
  <nav id="currency-nav" class="navbar">
    <div class="navbar-header navbar-left">
      <span>Accepted here:</span>
      <% wallets.forEach((wallet) => { %>
        <% if (wallet.currency === cart.preferredCurrency) { %>
          <span class="active">
            <%= wallet.name %>
          </span>
        <% } else { %>
          <a class="nav-link" href="/cart/set-currency/<%= wallet.currency %>"><%= wallet.name %></a>
        <% } %>
      <% }); %>
    </div>
  </nav>
<% } %>
