<footer id="info">
  <span><%= pageTitle %></span>
</footer>

<div class="text-right">
  <a target="_blank" href="https://github.com/TheMiningKing/crypto-shopping-cart">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x"></i>
      <i class="fa fa-github fa-stack-1x fa-inverse"></i>
    </span>
  </a>
</div>
</section>
</body>
</html>
