<footer id="info">
  <span><%= process.env.SITE_NAME %></span>
  <span>
    <a target="_blank" href="https://github.com/TheMiningKing/crypto-shopping-cart">
      <span class="fa-stack fa-lg">
        <i class="fa fa-github fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  </span>
  <span>
    <a href="mailto:<%= process.env.CONTACT %>">
      Questions?
    </a>
  </span>
</footer>
</section>
</body>
</html>
