<!DOCTYPE html>
<html>
<head>
  <title><%= process.env.SITE_NAME %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
`
  <link rel="shortcut icon" href="/images/favicons/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/images/favicons/site.webmanifest">
  <link rel="mask-icon" href="/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen" />
</head>
<body>
<section id="content" class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand main-page-link" href="<%= process.env.SITE_URL || '/' %>">
        <%= process.env.SITE_NAME %>
      </a>
    </div>
    <div class="navbar-header navbar-right">
      <% if (path === '/') { %>
        <a class="navbar-brand" href="/cart">
          Checkout <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
        </a>
      <% } else if (path.match('category')) { %>
        <a class="navbar-brand" href="/">
          <i class="fa fa-backward go-to-shop-lnk"></i>See all products
        </a>
        <% if (products && products.length) { %>
          <a class="navbar-brand" href="/cart">
            Checkout <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
          </a>
        <% } %>
      <% } else { %>
        <a class="navbar-brand" href="<%= referrer.match('cart') ? '/' : referrer %>">
          Continue shopping <i class="fa fa-shopping-cart go-to-shop-lnk"></i>
        </a>
      <% } %>
    </div>
  </nav>
