<!DOCTYPE html>
<html>
<head>
  <title><%= process.env.SITE_NAME %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen" />
</head>
<body>
<section id="content" class="container">
  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand main-page-link" href="<%= process.env.SITE_URL || '/' %>">
        <%= process.env.SITE_NAME %>
      </a>
    </div>
    <div class="navbar-header navbar-right">
      <% if (path === '/') { %>
        <a class="navbar-brand" href="/cart">
          Checkout <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
        </a>
      <% } else if (path.match('category')) { %>
        <a class="navbar-brand" href="/">
          <i class="fa fa-backward go-to-shop-lnk"></i>See all products
        </a>
        <% if (products && products.length) { %>
          <a class="navbar-brand" href="/cart">
            Checkout <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
          </a>
        <% } %>
      <% } else { %>
        <a class="navbar-brand" href="<%= referrer.match('cart') ? '/' : referrer %>">
          Continue shopping <i class="fa fa-shopping-cart go-to-shop-lnk"></i>
        </a>
      <% } %>
    </div>
  </nav>
