<!DOCTYPE html>
<html>
<head>
  <title><%= process.env.SITE_NAME %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="stylesheet" href="/assets/style.css" type="text/css" media="screen" />
</head>
<body>
<section id="content" class="container">
  <% include navbar %>
