<% include _partials/header %>
  <% include _partials/messages %>

  <% include _partials/currency-selector %>
  <div class="image-board-container">
    <% if(products && products.length > 0) { %>
      <% var i = 0; products.forEach(function(product) { i++; %>
        <% if (i === 2) { %>
          <figure class="copy-item inline-flex">
            <% include _partials/copy %>
          </figure>
        <% } %>
        <figure class="image-item<%= product.quantity ? '' : ' side-corner-tag' %>">
          <a href="/product/<%= product.friendlyLink %>">
            <div class="shopping-bag">
              <img src="/images/shopping-bag.svg">
            </div>
            <div class="pulse"></div>
            <img src="/images/products/<%= product.images[0] %>" alt="" class="img-thumbnail img-responsive">
            <% if (!product.quantity) { %>
              <p><span>SOLD</span></p>
            <% } %>
          </a>
        </figure>
      <% }); %>
    <% } %>
  </div>

<% include _partials/footer %>
