  <nav class="navbar navbar-inverse">
    <div class="navbar-header">
      <a class="navbar-brand main-page-link" href="<%= process.env.SITE_URL || '/' %>">
        <%= process.env.SITE_NAME %>
      </a>
    </div>
    <div class="navbar-header navbar-right">
      <% if (path === '/') { %>
        <a class="navbar-brand" href="/cart">
          Checkout <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
        </a>
      <% } else if (path.match(/category|product/)) { %>
        <a class="navbar-brand" href="/">
          <i class="fa fa-backward go-to-shop-lnk"></i>See all products
        </a>
        <a class="navbar-brand" href="/cart">
          Checkout <i class="fa fa-shopping-cart go-to-cart-lnk"></i>
        </a>
      <% } else { %>
        <a class="navbar-brand" href="<%= referrer.match(/cart|product/) ? '/' : referrer %>">
          Continue shopping <i class="fa fa-shopping-cart go-to-shop-lnk"></i>
        </a>
      <% } %>
    </div>
  </nav>
