.img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

#products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product {
  padding: 1em;
}

.product-title {
  text-transform: capitalize;
  font-weight: bold;
  font-family: serif;
  font-size: 17px;
}

.cart-table tbody tr td {
  vertical-align: middle;
  padding-right: 3em;
}
#content {
  padding: 5% 0;
}

.go-to-cart-lnk {
  padding-right: 1em;
}

.navbar .navbar-brand {
  color: #fff;
}

.cart-data {
  margin-top: 1.5em;
}

.product-thumb {
  max-width: 80px;
}

.cart-footer .btn {
  border: none;
  font-weight: bold;
}

.checkout-btn-wrap {
  padding-top: 3em;
}

#info {
  background: #222;
  color: #fff;
  text-align: center;
  margin-top: 3em;
  padding: 1em;
  border-radius: 4px;
}

/* Gradient transparent - color - transparent */
/* 2018-2-22 https://css-tricks.com/examples/hrs/ */
hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

p em {
  color: green;
}

.shipping-info,
.payment-info {
  padding: 1.5em; 
}

.payment-info {
  border-radius: 2em;
  /*background-color: #73AD21;*/
  background-color: #d3998f;
  color: #ffffff;
}

.shipping-info section {
  margin: 1.5em;
  font-size: 1.5em;
  text-align: center; 
}

header,
.shipping-info header,
.shipping-info footer,
.payment-info p {
  margin: 2em;
  font-size: 1.25em;
}

.payment-info div {
  margin: .75em;
}

.payment-info div span {
  display: inline-block;
  text-align: left;
}

.payment-info div span:nth-child(1) {
  width: 25%;
  text-align: right;
  font-weight: bold;
}

.payment-info div:nth-child(3) span:first-child {
  vertical-align: top;
  margin-bottom: 2em;
}

.payment-info div span:nth-child(2) {
  margin-left: 5%;
  width: 55%;
}

.payment-info div span:nth-child(3) {
  width: 100%;
}
