/**
 * This CSS is critical for Javascript-free thumbnail viewing 
 */
.thumb-viewer {
  position: relative;
}
input[type="radio"] {
  width: 6em;
  height: 6em;
}
input[type="radio"]+label {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}


