@import url(bootstrap/css/bootstrap.min.css);
@import url(font-awesome/css/font-awesome.min.css);

:focus {
  outline-style: none;
}

#products {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product {
  padding: 1em;
}

.product-title {
  text-transform: capitalize;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 1.5em;
}

.cart-table tbody tr td {
  vertical-align: middle;
}

#content {
  padding: 5% 0;
}

.go-to-cart-lnk {
  padding-right: 1em;
}

.navbar .navbar-brand {
  color: #fff;
}

.cart-data {
  margin-top: 1.5em;
}

.product-thumb {
  max-width: 80px;
}

.cart-footer .btn {
  border: none;
  font-weight: bold;
}

.checkout-btn-wrap {
  padding-top: 3em;
}

#info {
  background: #222;
  color: #fff;
  text-align: center;
  margin-top: 3em;
  padding: 1em;
  border-radius: 4px;
}

/**
 * My adjustments
 */
.navbar-right {
  float: right !important;
}

select.form-control {
  display: inline;
  width: 50%;
}

.order-form {
  width: 80%;
  margin-right: 10%;
  margin-left: auto;
}

.order-form label {
  font-size: 1.75em;
}

.order-form button {
  float: right;
}

.price {
  font-weight: bold;
  font-size: 1.5em;
}

.add-to-cart {
  float: right;
}

.product-info form {
  margin-top: .75em;
}

.product-description {
  margin: .75em;
  font-size: 1.5em;
}


.product-info select.form-control {
  height: 3em;
  font-weight: bold;
}

/* cart */
.info td {
  font-weight: bold;
  font-size: 2em;
}

.alert {
  font-size: 1.75em;
}

@media (min-width: 45em) {
  .cart-table,
  .order-form {
    margin: 0 auto;
    width: 50%;
  }

  .cart-table td {
    font-size: 1.25em;
  }

  .order-form {
    margin-top: 2em;
  }

  .product-description {
    font-size: 1.25em;
  }
}

