  <figure class="copy-item">
    <h4>The Mining King</h4>
  </figure>
</section>
  <footer id="info">
    <span>
      <a href="/policy">Shipping & Returns</a>
    </span>
    <span>
      <a href="mailto:<%= process.env.CONTACT || process.env.FROM %>">Questions?</a>
    </span>
  </footer>
</body>
</html>
