<!DOCTYPE html>
<html>
<head>
  <title><%= process.env.SITE_NAME %></title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" sizes="512x512" href="/images/favicons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="stylesheet" href="/assets/light-style.css" type="text/css" media="screen" />
  <% if (process.env.NODE_ENV === 'production') { %>
    <% include matomo %>
  <% } %>
</head>
<body>
<section id="content" class="container">
  <% include navbar %>
